<div class="row">
<div class="col-md-12">
<h2>Departments<a href="/departments/add" class="btn btn-success pull-right">Add New
Department</a></h2>
<hr>
<div class="table-responsive">
    <table class="table">
    <thead>
        <tr>
            <th>Department Number</th>
            <th>Department Name</th>
        </tr>
    </thead>
{{#each departments}}
    <tr>
        <th><a href="employees?department={{departmentID}}">{{departmentID}}</a></th>
        <td><a href="/departments/{{departmentID}}">{{departmentName}}</a></td>
    </tr>
{{else}}
<div class="col-md-12 text-center">
<strong>{{message}}</strong>
</div>
{{/each}}
</table>
</div>
</div>
</div>